# Terraform working directory
**/.terraform/*

# Terraform state
*.tfstate
*.tfstate.*

# Terraform plans
*.tfplan
tfplan

# Local variable files
terraform.tfvars
*.auto.tfvars

# Terraform crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Sensitive/local files
*.pem
*.key
*.pfx
.env
.infracost/

environments/dev/infracost-plan.json

environments/dev/infracost.tfplan
